extends layout/base.pug
block content
  header.main-header
    h1.main-header__title
  .bob
    .bob-head
      .bob-head__eyes
      .bob-head__nose
      .bob-head__mouth
      .bob-body__pores
    .bob-body
      .bob-body__shirt
        .bob-body__shirt__l-neck
        .bob-body__shirt__t-tie
        .bob-body__shirt__b-tie
        .bob-body__shirt__r-neck
      .bob-body__pants
